{
    "name": "Projectile",
    "components": {
        "1": {
            "type": "Fireball"
        },
        "2": {
            "type": "Transform"
        },
        "3": {
            "type": "ConstantMovement"
        },
        "4": {
            "type": "SpriteRenderer",
            "sprite": "fireball"
        }
    }
}