{
    "name": "Projectile",
    "components": {
        "1": {
            "type": "Projectile"
        },
        "2": {
            "type": "Transform"
        },
        "3": {
            "type": "ConstantMovement",
            "x_vel": 15
        },
        "4": {
            "type": "SpriteRenderer",
            "sprite": "projectile"
        }
    }
}